:root{
    --color-primary-wpblue:#00A8B8;
    --color-secondary-whitecold: #FAFAFA;    
    --color-secoxndary-white:#FFFFFF;
    --color-secondary-black:#303030;
    --color-sequencial-charts-rose:#F871A0;
    --color-sequencial-charts-welter-weight:#1AC6CD;
    --color-sequencial-charts-sumo:#004A52:
    --color-WhiteCold: #F5F5F5;
}