  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background-color: #00032f;
  }

  header img {
    width: 90px;
  }

  nav{
    display: flex;
    gap: 20px;
  }

  nav a{
    text-decoration: none;
    color: white;
  }

  button {
    background-color: #28d728;
    padding: 15px;
    border-radius: 10px;
  }

  h1{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 40px;
    text-align: center;
  }